# General files
.DS_Store
.vscode
slurm-*

## Generated output
*.pdf
*.jpeg
*.jpg
*.png
*.eps
*.svg
!reports/misc/*

# QIIME
*.qza
*.qzv
data/

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml
